<% if current_user %>
  <div class='navbar-brand'>
    Credits <%= Transaction.credits_amount_for(current_user.id) %>
  </div>
  <%= link_to 'Home', root_path, class: 'navbar-brand' %>
  <%= link_to 'Transactions history', history_transactions_path, class: 'navbar-brand' %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'navbar-brand') %>
<% end %>
